html {
   margin:0; 
   padding:0;
}
body {
    background-color: #faebd7;
    display:flex;
    align-items:center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;  
    font-size: 30px;
}

.container{
display: flex;
justify-content: center;
height: 80%;
width: 50%;
border: 2px solid black;
}

form{
    width: 50%;
    border: 1px solid black;
    display:flex;
    flex-direction: column;
    align-items: center;
}

input{
    height: 40px;
    width: 300px;
}

button{
    margin-top: 40px;
}




