body{
  background-color: #faebd7;
  top: 20px;
  padding: 100px;
  position: relative;
  border-style:groove;
  border-spacing: 100px 20px ;
  border-color: rgb(36, 8, 36);
  border-width: thin;
  max-width: 300px;
  max-height: 1000px;
  margin:auto;
  display:flex;
  flex-direction:column;
  align-items:center;
  
}
image{
 padding-left: 20px;
  
}
p{
  font-size: 20px;
}

button{
  margin-top:20px;
  height: 30px;
}